

/* css reset */

body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,th,td {margin:0;padding: 0;font-family: '微软雅黑'}
table{border-collapse: collapse;}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style: normal;font-weight: normal;}
ol,ul{list-style: none;}
caption,th{text-align: left;}
/*h1,h2,h3,h4,h5,h6{font-size: 100%;font-weight: normal;}*/
q:BEFORE,q:AFTER {content: '';}
abbr,acronym {border: 0}
a{text-decoration:none;color:#666666;}
a:hover{text-decoration:none;cursor: pointer}

/* 文字排版 */

.f12{font-size: 12px}
.f13{font-size: 13px}
.f14{font-size: 14px}
.f16{font-size: 16px}
.f18{font-size: 18px}
.f20{font-size: 20px}
.f30{font-size:30px}
.fb{font-weight: bolder;}
.fn{font-weight: normal;}

.t2{text-indent: 2em;}

.lh60{line-height: 60px;}
.lh150{line-height: 150%;}
.lh180{line-height: 180%;}
.lh200{line-height: 200%;}

.unl{text-decoration: underline;}
.no_unl{text-decoration: none;}





/* 定位 */

.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}

.fc{margin-left: auto;margin-right: auto;} /* 水平居中 */
.fl{float: left;display: inline;}
.fr{float:right;display: inline;}

.cb{clear:both;}
.cl{clear: left;}
.cr{clear:right;}

.clearfix:AFTER {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix{display: inline-block;}
.Clearfix{display: block;}
.vm{vertical-align: middle;}

.pr{position: relative;}
.pa{position: absolute;}
.abs-right{position: absolute;right: 0}
.zoom{zoom:1;}
.hidden{visibility: hidden;}
.none{display: none;}

.mask{  display:none;position: absolute; left: 0; top: 0;  bottom: 0;  right: 0;   background: #000000; opacity: 0.3;}
/* 长度宽度 */

.w10{width: 10px}
.w20{width: 20px}
.w30{width: 30px}
.w40{width: 40px}
.w50{width: 50px}
.w60{width: 60px}
.w70{width: 70px}
.w80{width: 80px}
.w90{width: 90px}
.w100{width: 100px}
.w120{width: 120px}
.w200{width: 200px}
.w250{width: 250px}
.w300{width: 300px}
.w400{width: 400px}
.w500{width: 500px}
.w600{width: 600px}
.w700{width: 700px}
.w800{width: 800px}
.w{width: 100%}

.h30{height: 30px}
.h50{height: 50px}
.h80{height: 80px}
.h100{height: 100px}
.h160{height: 160px}
.h200{height: 200px}
.h800{height: 800px}
.h1600{height: 1600px}
.h{height: 100%}

/* 边距 */
.m0{margin:0}
.m10{margin:10px}
.m15{margin:15px}
.m30{margin:30px}

.mt_5{margin-top:-5px}
.mt_10{margin-top:-10px}
.mt0{margin-top:0px}
.mt1{margin-top:1px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt50{margin-top:50px}
.mt100{margin-top:100px}

.mb0{margin-bottom:0px}
.mb5{margin-bottom:5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb50{margin-bottom:50px}
.mb100{margin-bottom:100px}

.ml0{margin-left:0px}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml50{margin-left:50px}
.ml100{margin-left:100px}

.mr0{margin-right:0px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr35{margin-right:35px}
.mr50{margin-right:50px}
.mr100{margin-right:100px}

.p0{padding: 0}
.p4{padding: 4px}
.p10{padding: 10px}
.p15{padding: 15px}
.p20{padding: 20px}
.p30{padding: 30px}

.pt0{padding-top:0px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pt100{padding-top:100px}

.pb0{padding-bottom:0px}
.pb5{padding-bottom:5px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pb20{padding-bottom:20px}
.pb30{padding-bottom:30px}
.pb50{padding-bottom:50px}
.pb100{padding-bottom:100px}

.pl0{padding-left:0px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}
.pl30{padding-left:30px}
.pl50{padding-left:50px}
.pl100{padding-left:100px}

.pr0{padding-right:0px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr15{padding-right:15px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr50{padding-right:50px}
.pr100{padding-right:100px}


/* left  */
.l500{left:500px;}


/* 文字颜色 */
.fc-white{color:#ffffff;}
.fc-red{color: red}
.fc-green{color:#8fc320}
.fc-blue{color: #5bc0de}

.bc-green{border-color: #8fc320;}

.bg-white{  background-color: #ffffff;  }
.bg-green{  background-color: #8fc320;color: #ffffff; }

.bd-default{  border:1px solid #ddd;  }


/*2016-3-11 总体页面布局*/
.contain{
    width: 1001px;
    margin: 0 auto;
}

.overflow-hidden {
    overflow: hidden;
}


.br0{
    border-radius: 0 !important;
}

.bt0{
    border-top:0;
}

.bw0{
    border-width:0;
}

.hover{
    cursor: pointer;
}



