<!DOCTYPE html>
<html ng-app="admin-app">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="/style/base.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style/style.css" rel="stylesheet">
</head>
<body ng-controller="global.controller">

<!--头部-->
<header>
    <nav class="navbar-default navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand w120" href="#">
                    <img src="/images/cnodejs_light.svg"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <form class="navbar-form navbar-left" role="search">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon-search"></i></span>
                        <input type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">新手入门</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">关于</a></li>
                    <li><a href="#">注册</a></li>
                    <li><a href="#">登录</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>

<!--主区域-->
<div class="container mt20" ui-view>

</div>


<!--<nav class="navbar-default navbar-fixed-bottom tc">-->
    <!--<p>CNode 社区为国内最专业的 Node.js 开源技术社区，致力于 Node.js 的技术研究。</p>-->
<!--</nav>-->

</body>
<!--bower_components-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<!--lib-->
<script src="/scripts/lib/angular-pagination.js"></script>
<!--controller-->
<script src="/scripts/controller/admin.controller.js"></script>
<script src="/scripts/controller/list.controller.js"></script>
<script src="/scripts/controller/info.controller.js"></script>
<!--service-->
<script src="/scripts/service/article.service.js"></script>

</html>