<!--文章详情-->
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <h4>
            <span class="label label-success pull-left">置顶</span>
            中国最大的JavaScript开发者大会JSConf China 2016即宁JS 售票啦！
        </h4>
        <small> 发布于 9 天前  作者 xeodou  2662 次浏览  来自 分享</small>
    </div>

    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item">
            <div class="list-group-item-text">
                JSConf China 已经五年了，这五年来我们一直秉持着给国内JS开发者带来高质量的技术会议的宗旨。
                5年来有超过1700位开发者参加过我们的活动，也有超过80位讲师给我们带来了精彩的分享。
                今年的JSConf China 又来了，今年九月我们将在南京举办宁JS。
                我们也希望今年依然能够给大家带来一个值回票价的技术大会。
                现在购票通道已经开通，早鸟5分钟内售完 :)
                http://www.bagevent.com/event/58905

                感谢几位发起人，发起这个国内最大的JavaScript开发者大会。
                也感谢他们一直以来对组织活动的支持。
                image

                image

                JavaScript everywhere!
            </div>
        </li>
    </ul>
</div>