<!--文章列表-->
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">全部</a></li>
            <li role="presentation"><a href="#">精华</a></li>
            <li role="presentation"><a href="#">分享</a></li>
            <li role="presentation"><a href="#">问答</a></li>
            <li role="presentation"><a href="#">招聘</a></li>
        </ul>
    </div>

    <!-- List group -->
    <ul class="list-group">
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                <div class="pull-left">
                    <img class="w30 h30" src="/images/dbefd0e4d332a8d252c0251075262e8d.png"/>
                    <small> 30/266</small>
                    <span class="label label-success">置顶</span>
                </div>
                <small class="pull-right">3小时前</small>
               <a ng-click="toArticleInfo('1')"> 中国最大的JavaScript开发者大会JSConf China 2016即宁JS 售票啦!</a>
            </h4>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                <div class="pull-left">
                    <img class="w30 h30" src="/images/dbefd0e4d332a8d252c0251075262e8d.png"/>
                    <small> 30/266</small>
                    <span class="label label-success">置顶</span>
                </div>
                <small class="pull-right">3小时前</small>
                <a ng-click="toArticleInfo('1')"> 中国最大的JavaScript开发者大会JSConf China 2016即宁JS 售票啦!</a>
            </h4>
        </li>
        <li class="list-group-item">
            <h4 class="list-group-item-heading">
                <div class="pull-left">
                    <img class="w30 h30" src="/images/dbefd0e4d332a8d252c0251075262e8d.png"/>
                    <small> 30/266</small>
                    <span class="label label-success">置顶</span>
                </div>
                <small class="pull-right">3小时前</small>
                <a ng-click="toArticleInfo('1')"> 中国最大的JavaScript开发者大会JSConf China 2016即宁JS 售票啦!</a>
            </h4>
        </li>


        <pagination class="col-md-12 tc" conf="paginationConf"></pagination>

    </ul>
</div>